KERNEL=="sd[a-z]*", SUBSYSTEMS=="usb", ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="usb-automount@mount-%k-%E{ID_VENDOR}-%E{ID_MODEL}.service"
KERNEL=="sd[a-z]*", SUBSYSTEMS=="usb", ACTION=="remove", TAG+="systemd", ENV{SYSTEMD_WANTS}="usb-automount@umount-%k-%E{ID_VENDOR}-%E{ID_MODEL}.service"
